#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
    text-align: center;
}
header {
    background-color:rgba(20,30,13, .7);
}
.book:hover {
background-color: bisque;
color: #000;
} 
.join:hover {
background-color: bisque;
color: #000;
}
footer {
    background-color: rgb(212, 148, 68);
}
.msg {

}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
.icon {
    width: 80px;
    text-align: center;
}
#hero-img {
    width: 100%;
}
#rivers-img {
    text-align: center;
}
nav a {
    text-align: center;
    color: #f9f8f6;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
    color: #fbf9f8;

}    
footer p a:hover {
    text-decoration: underline;
    color: #faf8f5;
}    